.product-image {
    width: 500px; 
    height: 500px; 
    object-fit: cover; 
    /* border-radius: 2px;
    border: 1px solid #ddd; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
  }
  
  .product-details-container {
    text-align: center;
    padding: 20px; 
  }
  
  .product-details-container p {
    margin: 10px 0; 
  }

  .product-info {
    text-align: center;
  }
  
  .product-description {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  .product-price {
    font-size: 1.5rem;
    color: #28a745; /* Verde Bootstrap */
    background-color: #e9f7ef;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 10px;
    margin-top: 0.5rem;
  }